* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    font-family: Myriad Pro;
}

body {
    background-color: #dd7b20;
}

.container {
    margin: 3% 25%;
    border: none;
    padding: 2% 5%;
}

label{
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: block;
    padding-top: 2%;
    text-align: center;
}

/* .img {
    border-radius: 30px;
    width: 6%;
    margin-bottom: 1%;
    background-color: #fff;
    padding: 0 10px;
} */

.judul{
    text-align: center;
}

.gambar-profil{
    width: 150px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin-bottom: 4%;
}

h3 {
    text-align: center:
    font-family: Myriad Pro;
    /* font-style: italic; */
    color: #rgb(255, 255, 255);
    padding-bottom: 4%;
}

nav {
    width: 100%;
    margin: auto;
}

nav ul {
    position: relative;
    background-color: #dd7b20;

    padding: 0px 0px;
    list-style: none;
    display: inline-table;
    width: 100%;
}

nav ul li {
    float: left;
}

nav ul li a:hover {
    background-color: rgb(255, 255, 255, 0.2);
}

nav ul li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: #fff;
    text-align: center;
}

nav ul ul {
    background: rgb(0, 0, 0);
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
}

nav ul ul li {
    float: none;
    border-top: 1px;
    border-bottom: 1px;
    position: relative;
}

nav ul ul li a {
    padding: 15px 40px;
    color: #fff;
}

nav ul ul li a:hover {
    background-color: rgb(121, 121, 121);
}

nav ul ul {
    display: none;
}

nav ul li:hover>ul {
    display: block;
    width: 250px;
}

input[type=button] {
    cursor: pointer;
    margin-top: 15px;
    margin-right: 10px;
    width: 25%;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 30px;
    background-color: #fcfcfc;
    color: black;
    font-size: 90%;
}

input[type=button]:hover {
    background-color: #dd7b20;
}

.button-align{
    text-align: right;
}